.emphasis,
.anchor-emphasis {
  color: rebeccapurple;
  text-decoration: none;
}

.anchor-emphasis:hover,
.dark-emphasis {
  color: darkblue;
}

.btn-emphasis {
  background-color: rebeccapurple;
  border: none;
  border-radius: 8px;
  color: white;
}

.btn-emphasis:hover {
  background-color: purple;
  border: none;
  border-radius: 8px;
  color: white;
}

.btn-emphasis.disabled {
  background-color: rebeccapurple;
  color: white;
}

.btn-shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-holder {
  transition: .05s;
}

.card-holder:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.mentor-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
}
