.emphasis,
a {
  color: rebeccapurple;
  text-decoration: none;
}

a:hover,
.dark-emph {
  color: darkblue;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 8px;
  border: none;
  color: white;
  width: 70%;
}

.card-holder {
  transition: .05s;
}

.card-holder:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:hover {
  background-color: purple;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

