.emphasis {
  color: violet;
}

button.btn {
  background-color: violet;
  border: none;
  border-radius: 8px;
  width: 70%;
}

button.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-holder {
  transition: .05s;
}

.card-holder:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}