.emphasis,
a {
    color: rebeccapurple;
    text-decoration: none;
}

a.active,
a:hover,
.dark-emph {
    color: darkblue;
}

.btn {
    background-color: rebeccapurple;
    border: none;
    border-radius: 8px;
    width: 70%;
}

.btn:hover {
    background-color: purple;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}